[submodule "SANDS"]
	path = SANDS
	url = https://github.com/HumanBrainProject/openMINDS_SANDS.git
	branch = v1
[submodule "core"]
	path = core
	url = https://github.com/HumanBrainProject/openMINDS_core.git
	branch = v3
[submodule "controlledTerms"]
	path = controlledTerms
	url = https://github.com/HumanBrainProject/openMINDS_controlledTerms.git
	branch = v1
[submodule "ephys"]
	path = ephys
	url = https://github.com/HumanBrainProject/openMINDS_ephys.git
[submodule "computation"]
	path = computation
	url = https://github.com/HumanBrainProject/openMINDS_computation.git
