[submodule "core"]
	path = core
	url = https://github.com/HumanBrainProject/openMINDS_core.git
[submodule "SANDS"]
	path = SANDS
	url = https://github.com/HumanBrainProject/openMINDS_SANDS.git
[submodule "controlledTerms"]
	path = controlledTerms
	url = https://github.com/HumanBrainProject/openMINDS_controlledTerms.git
