[submodule "core"]
	path = core
	url = https://github.com/HumanBrainProject/openMINDS_core.git
	branch = v4
[submodule "SANDS"]
	path = SANDS
	url = https://github.com/HumanBrainProject/openMINDS_SANDS.git
	branch = v3
[submodule "controlledTerms"]
	path = controlledTerms
	url = https://github.com/HumanBrainProject/openMINDS_controlledTerms.git
	branch = v1
[submodule "computation"]
	path = computation
	url = https://github.com/HumanBrainProject/openMINDS_computation.git
	branch = v1
[submodule "publications"]
	path = publications
	url = https://github.com/HumanBrainProject/openMINDS_publications.git
	branch = v1
[submodule "ephys"]
	path = publications
	url = https://github.com/HumanBrainProject/openMINDS_ephys.git
	branch = v1
[submodule "chemicals"]
	path = publications
	url = https://github.com/HumanBrainProject/openMINDS_chemicals.git
	branch = v1
[submodule "specimenPrep"]
	path = publications
	url = https://github.com/HumanBrainProject/openMINDS_specimenPrep.git
	branch = v1
[submodule "stimulation"]
	path = publications
	url = https://github.com/HumanBrainProject/openMINDS_stimulation.git
	branch = v1
